<div class="container">
    <div class="row m-auto">
        <div class="col-md-6 m-auto">
            <div class="alert alert-warning">
                <p>Your Account has been verified already</p>
                <p><a href='/login'>Log in here</a></p>

                </div>
        </div>
    </div>
</div>