<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/thirdparties/bootstrap/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    {{{body}}}

    <script src="/thirdparties/jquery/jquery.min.js"></script>
    <script src="/thirdparties/bootstrap/js/bootstrap.min.js"></script>
    <script src="/thirdparties/axios/axios.min.js"></script>
    <script src="/custom/javascript/script.js"></script>
  </body>
</html>
